@use "../utils/zoom.scss";
@use "../utils/box-shadow.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";

.fonctionnement {
    padding: 1rem;
    counter-reset: steps;
    & ol {
        display: flex;
        gap: 2rem;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
    & li {
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$purple;
            width: 2 * variables.$number-height;
            height: 2 * variables.$number-height;
            border-radius: 50%;
            display: grid;
            bottom: variables.$number-height;
            left: -1 * variables.$number-height;
            position: absolute;
            place-items: center;
            top: 50%;
            transform: translateY(-50%);
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include box-shadow.base-shadow;
        &:hover {
            @include zoom.zoom;
        }
    }
     & i.fas {
        margin-right: 1rem;
        color: colors.$lightgrey;
        font-size: 1.5rem;
    }
}