.fonctionnement{
    background-color: #FFFFFF;
    height: 30vh;
}

.whitelogo{
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(96deg) brightness(100%) contrast(101%);
    padding: 10px;
    height: 1vh;
}
footer{
    background-color: #363636;
    padding: 2rem 1rem;
    margin: auto;
}