header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px rgb(0 0 0 / 25%);
    padding: 0.3rem;
    margin: 0;
    position: relative;
}
