@use "../utils/colors.scss";
@use "../utils/variables.scss";
@use "../utils/box-shadow.scss";
@use "../utils/linear-gradient.scss";
.menus {
    background-color: colors.$backgroundgrey ;
    padding: 1rem;
    .menu__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width:variables.$breakpoint) {
            grid-template-columns: repeat(1, 1fr);
        }
        .new {
            position: relative;
        }
        .new::before {
            content:"Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            right: 1rem;
            top: 1rem;
            background-color: colors.$newpanel;
            color: #46B297;
            display: grid;
            place-items: center;
        }
    }

    .card {
        &__image{
            height: 15rem;
            border-radius: 1rem 1rem 0 0;
            background-size: cover;
        }
        @for $i from 1 through 4 {
            &__image-#{$i}{
                background-image: url(../../assets/restaurants/food#{$i}.jpg);
            }
        }
        &__description{
            position: relative;
            border-radius: 0 0 1rem 1rem;
            background-color: white;
                h3,p {
                    font-size: 1.5rem;
                    padding: .5rem;
                }
            h3{
                padding-top: 1rem;
            }
            i {
                position: absolute;
                right : 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
            .fa-solid {
                opacity: 0;
                color: transparent;
                -webkit-background-clip: text;
                transition: all 200ms ease-in-out;
                @include linear-gradient.gradientpurple(1);
            }
            &:hover .fa-solid {
                opacity: 1;
                transform: translateY(-50%) scale(1.2);
            }
        }
    }
}