@use "../utils/colors.scss";
@use "../utils/variables.scss";
.menus {
    background-color: colors.$backgroundgrey ;
    padding: 1rem;
    .menu__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width:variables.$breakpoint) {
            grid-template-columns: repeat(1, 1fr);
        }
        .new {
            position: relative;
        }
        .new::before {
            content:"Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            right: 1rem;
            top: 1rem;
            background-color: colors.$newpanel;
            color: #46B297;
            display: grid;
            place-items: center;
        }
    }

    .card {
        &__image{
            height: 15rem;
            border-radius: 1rem 1rem 0 0;
            background-size: cover;
        }
        @for $i from 1 through 4 {
            &__image-#{$i}{
                background-image: url(../../assets/restaurants/food#{$i}.jpg);
            }
        }
        &__description{
            position: relative;
            h3,p {
            font-size: 1.5rem;
            margin: 0.5rem;
            }
            h3{
                padding-top: .5rem;
            }
            i {
                position: absolute;
                right : 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}