@use "../utils/box-shadow.scss";
@use "../utils/colors.scss";
@use "../utils/linear-gradient.scss";

.reservermenu {
    text-align: center;
    height: 300px;
    background-color: colors.$backgroundgrey;
        & h2 {
            margin: 0;
            padding-top: 20px;
            font-size: 2rem;
        }
        & button {
            color: white;
            font-weight: 300;
            font-size: 1.5rem;
            padding: 1rem 2rem;
            border: none;
            border-radius: 100px;
            margin-top: 1rem;
            transition: transform 200ms;
            @include box-shadow.base-shadow;
            @include linear-gradient.gradientpurple(1);
        }
        & button:hover {
            transform: scale(1.02);
            opacity: 0.9;
        }
        & p {
            font-size: 1rem;
        }
}