@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: auto;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1000px) {
  main {
    padding: 0;
  }
}

h3, p {
  margin: 0;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  position: relative;
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.25);
  padding: 0.1rem;
}

.localisation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.reservermenu {
  text-align: center;
  height: 300px;
  background-color: #F6F6F6;
}
.reservermenu h2 {
  margin: 0;
  padding-top: 20px;
  font-size: 2rem;
}
.reservermenu button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  margin-top: 1rem;
  transition: transform 200ms;
  box-shadow: 2px 1px 16px -3px #000000;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
.reservermenu button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.reservermenu p {
  font-size: 1rem;
}

.whitelogo {
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(96deg) brightness(100%) contrast(101%);
  padding: 10px;
}

footer {
  background-color: #363636;
  padding: 1rem 2rem;
}
footer .fa-solid {
  padding-right: 0.2rem;
}
footer p {
  padding: 0.3rem;
  font-size: 1.2rem;
}

footer a {
  color: white;
}

.fonctionnement {
  padding: 1rem;
  background-color: white;
  counter-reset: steps;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 16px -3px #000000;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  bottom: 1rem;
  left: -1rem;
  position: absolute;
  place-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.fonctionnement li:hover {
  transform: scale(1.02);
}
.fonctionnement i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#homepage .menus {
  background-color: #F6F6F6;
  padding: 1rem;
}
#homepage .menus .menu__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  #homepage .menus .menu__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menu__cards .new {
  position: relative;
}
#homepage .menus .menu__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  color: #46B297;
  display: grid;
  place-items: center;
}
#homepage .menus .card__image {
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
#homepage .menus .card__image-1 {
  background-image: url(./../../assets/restaurants/food1.jpg);
}
#homepage .menus .card__image-2 {
  background-image: url(./../../assets/restaurants/food2.jpg);
}
#homepage .menus .card__image-3 {
  background-image: url(./../../assets/restaurants/food3.jpg);
}
#homepage .menus .card__image-4 {
  background-image: url(./../../assets/restaurants/food4.jpg);
}
#homepage .menus .card__description {
  position: relative;
  border-radius: 0 0 1rem 1rem;
  background-color: white;
}
#homepage .menus .card__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
#homepage .menus .card__description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#homepage .menus .card__description h3 {
  padding-top: 1rem;
}
#homepage .menus .card__description h3, #homepage .menus .card__description p {
  font-size: 1.5rem;
  padding: 0.5rem;
}

#restaurantpage {
  background-color: #F6F6F6;
}
#restaurantpage .miamimage {
  width: 100%;
  max-height: 50vh;
  display: block;
  object-fit: cover;
  object-position: bottom;
}
#restaurantpage .resto__title {
  margin-top: -2rem;
}
#restaurantpage .resto__title h2 {
  padding: 2rem 1rem;
  font-size: 2rem;
  font-family: "Shrikhand", "cursive";
  position: relative;
  border-radius: 0 0 1rem 1rem;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  background-color: #F6F6F6;
}
#restaurantpage .resto__title h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#restaurantpage .resto__title h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
#restaurantpage .resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#restaurantpage .resto-main {
  padding: 0 2rem;
}
@media (max-width: 1000px) {
  #restaurantpage .resto-main {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
#restaurantpage .menu {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
  #restaurantpage .menu {
    grid-template-columns: 1fr;
  }
}
#restaurantpage .menu > * {
  border: 1px solid red;
}
#restaurantpage .menu__category {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
