@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/animation.scss";

#restaurantpage {
    header {  
        &::before {
            transition: transform .5s;     
        } 
        &:hover::before {
            @include mixins.zoom($zoom-level : 1.2 ,$transformation : translateY(-50%));
        }
        &::before {
        @include mixins.font-awesome($font-weight: 900);
        content: "\f060";
        display: flex;
        top: 50%;
        font-size: 30px;
        margin-left: 20px;
        transform: translateY(-50%);
        }

}
    background-color: colors.$backgroundgrey;

        .miamimage {
            width: 100%;
            max-height: 50vh;
            display: block;
            object-fit: cover;
            object-position: bottom;
        }
        .resto__title {
            margin-top: -2rem;
            h2{
            padding: 2rem 1rem;
            font-size: 2rem;
            font-family: "Shrikhand", "cursive";
            @include mixins.animatedheart;
            border-radius: 2rem 2rem 0 0;
            background-color: colors.$backgroundgrey;
            }
        }
        .resto-main {
            padding: 0 2rem;
            h3 {
                font-size: 2rem;
                text-transform: uppercase;
                padding-top: 2rem;
                font-weight: 300;
            }
            h3:after {
                content: "";
                display: block;
                width: 95px;
                border-bottom: 3px solid colors.$newpanel;
            }
            h4, p, span{
                font-size: 1.5rem;
            }
        }
        .menus{ 
            overflow: hidden;           
            .menu__category {
                cursor: pointer;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                @media (max-width:variables.$breakpoint) {
                    grid-template-columns: 1fr;   
                }
                .menu-item {
                    background-color: white;
                    display: flex;
                    @include mixins.base-shadow;
                    border-radius: 1rem;
                    overflow: hidden;
                    margin: 1rem;
                    animation: appear 3s;
                    .menu-item__price{
                        margin-left: auto;
                        font-weight: bold;
                        padding: 1rem;
                        display: flex;
                        align-items: flex-end;
                    }
                    .menu-item__description {
                        padding: 1rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        h4,p {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                    .menu-item__check {
                        $button-width: 4rem;
                        background-color: colors.$newpanel;
                        margin-right: -$button-width;
                        width: $button-width;
                        transition: margin-right 0.5s;
                        display: grid;
                        place-items: center;
                        flex-shrink: 0;
                        i{
                            display: grid;
                            place-items: center;
                            background-color: white;
                            aspect-ratio: 1;
                            width: 2rem;
                            border-radius: 1rem;
                            color: colors.$newpanel;
                        }
                    }
                    &:hover {
                        .menu-item__check {
                            margin-right: 0;
                        }
                        i {
                            @include animation.quarterspin;
                            animation:quarterspin .7s ease-in-out;
                        }
                    }
                }
            }
        }
        .commandbutton {
            text-align: center;
            padding: 2rem 1rem;
            & button {
                @include mixins.base-button
            }                
            & button:hover {
                    transform: scale(1.02);
                    opacity: 0.9;
                }
    }

}